
<form asp-action="Index">
        <label for="">Nhập họ tên</label>
        <input type="text" name="name" placeholder="Họ và tên"><br>
        <label for="">Nhập địa chỉ</label>
        <input type="text" name="address" placeholder="Địa chỉ của bạn"><br>
        <input type="submit" name="" value="Gửi">
</form>
@ViewBag.Message
